//Common section styles
.section-title {
  font      : 400 300% "Raleway";
  color     : #9EB6D0;
  text-align: center;
}

.section-container {
  margin: 1rem 3rem;
}

// Specific section styles
section.jumbotron {
  background-image : url(../app/assets/images/landing.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
  text-align       : center;
  color            : #15313d;
  margin           : 0;

  .cover-title {
    font            : 400 100% "Raleway";
    width           : 100%;
    margin          : 2em 0 0;
    padding         : 20px;
    padding-left: 40px;
    background-color: rgba(200,200,200,0.85);
    text-align      : left;

    h1 {
      padding    : 5px 0 0;
      margin     : 0;
      margin-bottom: 5px;
      font-size  : 3em;
      font-family: "Raleway";
    }

    h2 {
      padding  : 5px;
      margin   : 0;
      font-size: 2em;
    }
  }

  .lead {
    padding-left: 40px;
    margin      : 0;
    text-align  : left;
    position    : relative;
    top         : 2.5em;

    .photo {
      height       : 200px;
      border-radius: 50%;
    }
  }

  .social-bar {
    padding-right: 2em;
    position     : relative;
    top          : 1.2em;
    ng-md-icon{
      height: auto;
      width: auto;
    }
  }
}

@media only screen and (max-width: 767px) {
  section.projects .timeline timeline-event {
    timeline-panel {
      right: 0 !important;
      left : 25% !important;
    }
  }
}

section.projects {
  timeline-event {
    timeline-panel {
      width: 100%;
      right: calc(50% + 45px);
    }

    .timeline-inverted {
      timeline-panel {
        right: 0;
        left : calc(50% + 45px);
      }
    }

    timeline-badge {
      font-weight: bold;

      .date {
        .month {
          font-size: 0.7em;
          position : relative;
          top      : -43px;
        }

        .year {
          font-size: 0.8em;
          position : relative;
          top      : -10px;
        }
      }
    }
  }

  .project-deck {
    overflow       : hidden;
    width          : 300px;
    max-width      : 300px;
    min-height     : 200px;
    background     : #fff;
    border         : 1px solid rgba(0, 0, 0, .15);
    border-radius  : 5px;

    // margin         : 10px;
    position       : relative;
    text-align     : center;
    transform-style: preserve-3d;
    opacity        : 0.7;

    &.project-active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    .project-title {
      transition      : background-color 0.3s;
      padding         : 15px;
      position        : relative;
      bottom          : 0;
      background-color: rgba(0,0,0,0.8);
      width           : 100%;

    }

    &:hover .project-title {
      background-color: transparent;
    }

    .project-logo {
      background-color: #eee;
      max-width       : 100%;
      min-height      : 60px;
      height          : 100%;
      width           : 100%;
      margin          : 0;
      position        : relative;
      overflow        : hidden;
      padding         : 3em;
      transition      : transform 0.4s;
      z-index         : 10;
    }

    &:hover .project-logo {
      transform: translateY(-50px) scale(0.5);
    }

    .project-description {
      height          : 100%;
      width           : 100%;
      position        : absolute;
      top             : 0;
      left            : 0;
      background      : #2c3f52;
      background-color: rgba(0,0,0,0.8);
      color           : #ed4e66;
      opacity         : 0;
      padding         : 15px;
      transform       : scale(0.7);
      transition      : transform 0.4s, opacity 0.4s;

      p {
        position: absolute;
        bottom  : 3em;
        position: absolute;
        width   : 90%;
      }
    }

    &:hover .project-description {
      transform: scale(1);
      opacity  : 1;
    }
  }
}

section.courses {
  .course {
    width        : 230px;
    height       : 230px;
    border       : 10px solid #e6e6e6;
    overflow     : hidden;
    position     : relative;
    float        : left;
    background   : #fcfcfc;
    margin-left  : -48px;
    box-shadow   : 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 125px;
    transition   : all 200ms linear;
    text-align   : center;

    a {
      width   : 100%;
      height  : 100%;
      display : block;
      color   : #333;
      position: relative;
    }

    .course-icon {
      max-width : 80%;
      height    : 70px;
      transition: transform 200ms linear;
      margin-top: 1.5em;
    }

    .course-name {
      font-size  : 22px;
      position   : absolute;
      top        : 100px;
      height     : 80px;
      width      : 170px;
      left       : 50%;
      margin-left: -85px;
      opacity    : 0.8;
      text-align : center;
      color      : #555;
      transition : all 200ms linear;
    }

    &:hover {
      border-color: #333;
      z-index     : 999;
      transform   : scale(1.1);
      background  : #ddd;

      .course-name {
        color: #111;
      }

      .course-icon {

        // transform: translate3d(-20px, 10px, 0);
      }
    }
  }
}
